extends layout

block content
  h1= title
  p 테스트 화면입니다. #{title}
  p 노드JS테스트 입니다.
  button test....
  img(src="/images/wall.jpeg")
  img(src="https://i.pinimg.com/originals/bf/82/f6/bf82f6956a32819af48c2572243e8286.jpg")